<!DOCTYPE html>
<html lang="en">
<head>
</head>
<title>Music Library: Album</title>
<body>
  <header><div><a href="/">HOME</a></div></header>
    <h1><%= @album.title %></h1>
    <p>
      Release year: <%=@album.release_year %>
      Artist: <%= @artist.name %>
    </p>
</body>
</html>