<!DOCTYPE html>
<html lang="en">
<head></head>
<title>Music Library: Artist</title>
<body>
    <header><div><a href="/">HOME</a></div></header>
    <h1>Artist: <%= @artist.name %></h1>
    <p>Genre: <%= @artist.genre %></p>
</body>
</html>