<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Library: Artist Failure</title>
</head>
<body>
    <header><div><a href="/">HOME</a></div></header>
    <p>Artist creation failure: Invalid input</p>
</body>
</html>